<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-header card-header-table align-items-center d-flex">
                    <i class="ri-user-fill cardicon"></i> <h4 class="card-title mb-0 flex-grow-1">Merchant List</h4>
                    <div class="flex-shrink-0">
                        <div class="gridjs-search">
                            <button routerLink="../merchantadd" type="button" class="btn btn-info ms-auto"> <i class="ri-add-fill cardicon label-icon align-middle"></i>Add</button>
                        </div>
                    </div>
                </div>
                
                <div class="card-body">

                    <div class="live-preview">

                        <div class="card">
                            <div class="card-body">

                                <div class="row mb-3">
                                    <div class="col-md-4">
                                        <div>
                                            <label for="basiInput" class="form-label">Merchant Code </label>
                                            <input type="text" class="form-control" [(ngModel)]="merchnatCode" placeholder="Enter Merchant Code">
                                        </div>
                                    </div>
    
                                    <div class="col-md-8">
                                        <div>
                                            <label for="labelInput" class="form-label">Merchant (Organization) Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="merchnatName" placeholder="Enter Merchant Name">
                                        </div>
                                    </div>
    
                                </div>
    
                                <div class="row mb-3">

                                    <div class="col-md-4">
                                        <div>
                                            <label for="basiInput" class="form-label">Mobile No.</label>
                                            <input type="text" class="form-control" [(ngModel)]="mobileNo" placeholder="Enter Mobile No.">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div>
                                            <label for="basiInput" class="form-label">Verification </label>
                                            <select class="form-select" aria-label="Default select example" [(ngModel)]="approvalStatus"  >
                                                <option value="" disabled selected>Select Verification </option>
                                                <option *ngFor="let status of statusLists"  [value]="status.id">
                                                  {{ status.name }}
                                                </option>                                                                  
                                        </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 ">                                        
                                        <div class="mt-4  text-right gap-1 ">                                      
                                            <button type="button" (click)="GetAllMerchantList()" class="btn btn-primary ms-auto"> <i class="ri-search-line cardicon label-icon align-middle"></i>Search</button>
                                    &nbsp;
                                            <button type="button" (click)="ClearMerchantList()" class="btn btn-primary ms-auto"><i class="ri-refresh-line cardicon label-icon align-middle"></i>Clear</button>
                                         </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr>

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Merchant Code</th>
                                        <th scope="col">Merchant (Organization) Name</th>
                                        <th scope="col">Mobile No.</th>
                                        <th scope="col">Email Id</th>
                                        <th scope="col">Verification</th>
                                        <th scope="col" class="w-10 text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let object of MerchantList">
                                    <tr>
                                        <td>{{object.merchantCode}}</td>
                                        <td>{{object.organizationName}}</td>
                                        <td>{{object.phoneNumber}}</td>
                                        <td>{{object.email }}</td>
                                        <td>{{object.approvalStatus}}</td>
                                        
                                       
                                        <td class="w-10 text-center">                                          
                                            <div class="gap-3" >
                                               
                                                <a [routerLink]="['/merchant/merchantedit', 
                                                object.merchantId]" (mouseover)="showTooltip()"  (mouseout)="hideTooltip()" class="link-success fs-15"><i class="ri-edit-2-line"></i></a>
                                                <div id="tooltip" class="hidden">Edit</div>
                                                &nbsp;&nbsp;

                                                <a  *ngIf="object.recStatus=='A'" class="link-success fs-15">

                                                 <!-- <i class="ri-checkbox-blank-circle-line"></i> -->
                                              

                                                 <i class="ri-checkbox-circle-fill"></i> 
                                                </a>

                                                &nbsp;&nbsp;
                                                <!-- <span *ngIf="object.recStatus; else elseBlock">
                                                    <i class="ri-user-fill uenable"></i>                                                   
                                                </span>

                                                <ng-template #elseBlock>
                                                    <span>
                                                        <i class="ri-user-fill udisable"></i>
                                                    </span>
                                                </ng-template> -->
                                          
                                                <!-- <span >
                                                    <i class="ri-user-fill udisable"></i>
                                                </span> -->
                                            </div>                                            
                                        
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="text-center mt-3">
                            <div class="gridjs-pagination">
                                <div class="gridjs-pages">
                                    <!-- <button tabindex="0" role="button" title="Previous" aria-label="Previous">Previous</button>
                                    <button tabindex="0" role="button">1</button>
                                    <button tabindex="0" role="button" title="Next" aria-label="Next">Next</button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <!-- <div class="card-footer">
                    <div class="row align-items-center gy-3">
                        <div class="col-sm">
                            <div class="d-flex flex-wrap my-n1">
                                <div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-auto">
                            <div class="col-lg-12">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-info">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->


            </div>
        </div>
    </div>
 </div>







