<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>
  
    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-1 text-white-50">
                        <div>
                            <a href="" class="d-inline-block auth-logo authlogo">
                                <img src="assets/images/logo.png" alt="" height="100" style="border-radius: 10px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
  
            <div class="row justify-content-center">
                <div class="col-md-10" *ngIf="showDiv.current">
                    <div class="card mt-4">
  
                        <div class="card-body p-4" >
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Signup Here!</h5>
                            </div>
                            <div class="p-2 mt-4">
                      
  
                                <div class="live-preview">

                               <form [formGroup]="uploadForm" fxLayout="row wrap"
                               (ngSubmit)="createMerchant(uploadForm.value)">
                                           <div class="row">
                                        <div class="col-md-12">
                                            <div class="btn-left mb-2">
                                                <i class="ri-arrow-right-circle-fill addnewico"></i> &nbsp; <label
                                                    class="form-label mt-2">
                                                    <h6 class="heads">Merchant Details</h6>
                                                </label>
                                            </div>
                                        </div>
                                           </div>                                   
        
                                            <div class="row mb-3">
                                                <div class="col-md-8">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Merchant (Organization) Name 
                                                            <span class="madatory">*</span>
                                                        </label>
                                                      
                                                        <input type="text" class="form-control" 
                                                        formControlName="organizationName" required minlength="3"
                                                        [ngClass]="{ 'is-invalid': submitted && f['organizationName'].errors }"
                                                       
                                                        placeholder="Enter Merchant (Organization) Name">
                                                    <div *ngIf="submitted && f['organizationName'].errors" class="invalid-feedback">
                                                        <div *ngIf="f['organizationName'].errors['required']">Merchant (Organization) Name is required</div>
                                                        <div *ngIf="f['organizationName'].errors['minlength']">Merchant Name least 3 char long
                                                        </div>
            
                                                    </div>
                                                    
                                                    
                                                    </div>
                                                </div>
                
                                                <div class="col-md-4">
                                                    <div>
                                                        <!-- <label for="basiInput" class="form-label">Phone No. </label> -->
                                                        <label for="basiInput" class="form-label">Mobile No. <span class="madatory">*</span> </label>
                                                        
                                                        <input type="text" class="form-control" (keypress)="keyPressOnlynum($event)"
                                                        formControlName="phoneNumber" required pattern="[0-9]+" C="10"
                                                        maxlength="10" minlength="10"
                                                        [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
                                                        (keypress)="blockSpaces($event)" placeholder="Enter Mobile No.">            
                                                    <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                                                        <div *ngIf="f['phoneNumber'].errors['required']">Mobile No. is required
                                                        </div>
                                                        <div *ngIf="f['phoneNumber'].errors['minlength']">Please enter valid Mobile
                                                            No.</div>
                                                    </div>

                                                    </div>
                                                </div>
                
                                            </div>
                
                                            <div class="row mb-3">        
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="labelInput" class="form-label">Email Id <span class="madatory">*</span></label>
                                                        <div class="form-icon right">
                                                            <input (keypress)="blockSpaces($event)" type="email" class="form-control"
                                                            id="email" formControlName="email"
                                                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                                            placeholder="Enter Email"
                                                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
                                                         
                                                           
                                                            <i class="ri-mail-unread-line"></i>
                                                        </div>
                                                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback d-block">
                                                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                                                            <div *ngIf="f['email'].errors['pattern']">Please enter valid Email
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
        
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Contact Person Name  <span class="madatory">*</span> </label>
                                                        <input type="text" class="form-control" (keypress)="keyPressOnlyChar($event)"
                                                        formControlName="contactPersonName" required minlength="3"
                                                        [ngClass]="{ 'is-invalid': submitted && f['contactPersonName'].errors }"
                                                       
                                                        placeholder="Enter Contact Person Name">
                                                    <div *ngIf="submitted && f['contactPersonName'].errors" class="invalid-feedback">
                                                        <div *ngIf="f['contactPersonName'].errors['required']">Contact Person Name is required</div>
                                                        <div *ngIf="f['contactPersonName'].errors['minlength']">Contact Person least 3 char long
                                                        </div>
                                                    </div>
                                                   
                                                   
                                                   
                                                    </div>
                                                </div>
                
                                            </div>

                                            <div class="row mb-3">
        
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Password  <span class="madatory">*</span></label>
                                                        <div class="position-relative auth-pass-inputgroup">
                                                            <input [type]="fieldTextType1 ? 'text' : 'password'"
                                                            class="form-control pe-5" placeholder="Enter Password"
                                                            id="password-input" formControlName="password"
                                                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                                                            minlength="6">
                                                        <button
                                                            class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted btn-eye"
                                                            type="button" id="password-addon"><i class="mdi align-middle pass-eye" [ngClass]="{'mdi-eye-off-outline': !fieldTextType1, 'mdi-eye-outline': fieldTextType1
                                                             }" (click)="toggleFieldTextType1()"></i></button>
                                                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                                                            <div *ngIf="f['password'].errors['minlength']">Password at least 8 to 15 digits long</div>
                                                          
                                                        </div>

                                                        </div>
                                                    </div>
                                                </div>
        
                                                <div class="col-md-6">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Confirm Password  <span class="madatory">*</span></label>
                                                        <div class="position-relative auth-pass-inputgroup">
                                                      <input [type]="fieldTextType2? 'text' : 'password'"
                                                            class="form-control pe-5" placeholder="Enter Confirm Password"
                                                            id="password-input" formControlName="confirmPassword"
                                                            [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"   minlength="6">
                                                        <button  class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted btn-eye"
                                                            type="button" id="password-addon"><i class="mdi align-middle pass-eye" [ngClass]="{'mdi-eye-off-outline': !fieldTextType2, 'mdi-eye-outline': fieldTextType2
                                                             }" (click)="toggleFieldTextType2()"></i></button>
                                                       
                                                             <div *ngIf="f['confirmPassword'].errors && submitted"  class="invalid-feedback d-block">
                                                            <div *ngIf="f['confirmPassword'].errors?.['required']">Confirm Password is required</div>
                                                            <div *ngIf="f['confirmPassword'].errors?.['matching']"> Password and Confirm password must be same</div>
                                                        </div>

                                                        
                                                               </div>
                                                    </div>
                                                </div>
                
                                            </div>
                                    <hr>
        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="btn-left mb-2">
                                                <i class="ri-arrow-right-circle-fill addnewico"></i> &nbsp; <label
                                                    class="form-label mt-2">
                                                    <h6 class="heads">POS Details</h6>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div formGroupName="posInfo">
                                            <div class="row mb-3">
                                                <div class="col-md-8">
                                                    <div>
                                                        <label for="basiInput" class="form-label">POS Name (Point of sale)  <span class="madatory">*</span></label>
                                                        <input type="text" id="posName" formControlName="posName" class="form-control" placeholder="Enter POS Name">                                                      
                                                        <div *ngIf="this.uploadForm.get('posInfo.posName')?.invalid && submitted" class="invalid-feedback d-block">
                                                            <div *ngIf="this.uploadForm.get('posInfo.posName')?.errors?.['required']">POS Name is required</div>                                                        
                                                        <div *ngIf="this.uploadForm.get('posInfo.posName')?.errors?.['minlength']">POS Name least 3 char long                                               </div>
                                                     </div> 
                                                    </div>
                                                </div>
        
                                                <div class="col-md-4">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Category  <span class="madatory">*</span></label>
                                                        <select class="form-select" aria-label="Default select example" formControlName ="categoryId" >
                                                            <option value="" disabled selected>Please select Category</option>
                                                 
                                                            <option *ngFor="let category of CatagoryList" [value]="category.categoryId">
                                                                  {{ category.categoryName }}
                                                                </option>
                                                              
                                                        </select>

                                                        <div *ngIf="submitted && this.uploadForm.get('posInfo.categoryId')?.invalid" class="invalid-feedback d-block">
                                                            <div *ngIf="this.uploadForm.get('posInfo.categoryId')?.errors?.['required']">Please Select category</div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                
                                            </div>
        
                                            <div class="row mb-3">
        
                                                <div class="col-md-12">
                                                    <div>
                                                        <label for="basiInput" class="form-label">POS Address  <span class="madatory">*</span></label>
                                                        <textarea class="form-control" formControlName="posAddress" rows="1" placeholder="Enter POS Address"></textarea>
                                                    
                                                        <div *ngIf="this.uploadForm.get('posInfo.posAddress')?.invalid && submitted" class="invalid-feedback d-block">
                                                            <div *ngIf="this.uploadForm.get('posInfo.posAddress')?.errors?.['required']">POS Address is required</div>                                                        
                                                        <div *ngIf="this.uploadForm.get('posInfo.posAddress')?.errors?.['minlength']">POS Address least 3 char long                                               </div>
                                                     </div> 
                                                    </div>
                                                </div>
        
                                            </div>
                
                                            <div class="row mb-3"> 
                
                                                <div class="col-md-4">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Zip Code  <span class="madatory">*</span></label>
                                                        <input type="text" class="form-control" formControlName="zip" maxlength="5" placeholder="Enter Zip  Code"
                                                        (keypress)="keyPressOnlynum($event)">
                                                        <div *ngIf="this.uploadForm.get('posInfo.zip')?.invalid && submitted" class="invalid-feedback d-block">
                                                            <div *ngIf="this.uploadForm.get('posInfo.zip')?.errors?.['required']">Zip Code is required</div>                                                        
                                                        <div *ngIf="this.uploadForm.get('posInfo.zip')?.errors?.['minlength']">zip Code  least 5 char long                                               </div>
                                                    
                                                    </div> 
                                                  
                                                    </div>
                                                </div>
                
                                                 <div class="col-md-4">
                                                    <div>
                                                        <label for="basiInput" class="form-label">State  <span class="madatory">*</span></label>
                                                        <select class="form-select" aria-label="Default  select example" formControlName ="stateId">
                                                            <option value="" disabled selected>Select State</option>
                                                 
                                                            <option *ngFor="let State of StateList" [value]="State.stateId">
                                                                {{ State.stateName}}
                                                            </option>
                                                        </select>      
                                                        <div *ngIf="this.uploadForm.get('posInfo.stateId')?.invalid && submitted" class="invalid-feedback d-block">
                                                            <div *ngIf="this.uploadForm.get('posInfo.stateId')?.errors?.['required']">Please select State</div>                                                        
                                                     </div>                                                  
                                                    </div>
                                                </div>
        
                                                <div class="col-md-4">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Country  <span class="madatory">*</span></label>
                                                        <select class="form-select" aria-label="Default select example"  formControlName ="countryId">
                                                            <option value="" disabled selected>Select Country</option>
                                             
                                                            <option  *ngFor="let Country of CountryList" [value]="Country.countryId">
                                                                {{Country.countryName}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="this.uploadForm.get('posInfo.countryId')?.invalid && submitted" class="invalid-feedback d-block">
                                                            <div *ngIf="this.uploadForm.get('posInfo.countryId')?.errors?.['required']">Please select Country</div>                                                        
                                                     </div>
                                                    </div>
                                                </div>
                
                                            </div>


                                   </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center gap-2 mt-2">
                                                        <button type="submit" class="btn btn-primary" (click)="submit()"><i class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                      
                                  </form> 
        
                                </div>

                            </div>
                        </div> 

                    </div>
                </div>


                <div class="col-md-5" *ngIf="showDiv.next">
                    <form [formGroup]="uploadForm" fxLayout="row wrap"
                    (ngSubmit)="SubmitForm(uploadForm.value)">
                 
                    <div class="card mt-4">
    
                        <div class="card-body p-4" *ngIf="showDiv.next">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">OTP Verification</h5>
                            </div>
                            <div class="p-2 mt-4">
    
                                <div class="live-preview" >
                                  
                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <div>
                                                <label for="basiInput" class="form-label">Enter OTP sent to your Email <span class="madatory">*</span></label>
                                                <input type="text" formControlName="emailOTP" class="form-control" placeholder="Enter OTP Sent To Your Email">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <div>
                                                <label for="basiInput" class="form-label">Enter OTP sent to your Mobile No<span class="madatory">*</span></label>
                                                <input type="text" class="form-control" formControlName="phoneNumberOTP" placeholder="Enter OTP Sent To Your Mobile No.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center gap-2 mt-2">
                                                <button type="submit" class="btn btn-primary" ><i class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div> 
    
                    </div>
                    </form>
                </div>
            </div>
            

           

        </div>
       
    </div>  
  
    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy; 2023 Blootusk. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
  </div>
  <!-- end auth-page-wrapper -->
  

