<div class="row project-wrapper">


    <form [formGroup]="uploadForm">
    <div class="row mb-3">
        <div class="col-md-4 ">
            
            <!-- <select class="form-select" aria-label="Default select example" >
                <option value="" disabled selected>Select Merchant</option>                                       
                <option> Merchant 1</option>   
                <option> Merchant 2</option> 
                <option> All</option>                                                    
            </select> -->
            <!-- <select class="form-select" aria-label="Default select example"
            [(ngModel)]="selectedMerchantId"
            formControlName ="countryId" >      
                <option value="" disabled selected>Select Country</option>
                <option *ngFor="let merchant of MerchantList" [value]="merchant.merchantId" >
                  {{ merchant.organizationName }}
                </option>
                </select>  -->

                <select class="form-select" aria-label="Default select example" formControlName="merchantId"  [(ngModel)]="selectedMerchantId">
                    <option value="" disabled selected>Select Merchant</option> 
                    <option *ngFor="let merchant of MerchantList" [value]="merchant.merchantId">
                      {{ merchant.organizationName}}
                    </option>
                </select>
        </div>
        <div class="col-4 ">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary ms-auto" (click)="viewMerchantData(selectedMerchantId)">
                  <i class="ri-eye-fill cardicon label-icon align-middle"></i>View
                </button>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row row-cols-xxl-5 row-cols-lg-3 row-cols-1">
                <div class="col">
                    <div class="card card-body">
                        <div class="d-flex mb-0 align-items-center">
                            <div class="flex-shrink-0">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">USERS</p>
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <h4 class="card-title mb-1 text-right font20">{{Users}}</h4>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-1 pots">MTD : {{UsersMtd}}</h6>
                    </div>
                </div><!-- end col -->
                <div class="col">
                    <div class="card card-body">
                        <div class="d-flex mb-0 align-items-center">
                            <div class="flex-shrink-0">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">MERCHANTS</p>
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <h4 class="card-title mb-1 text-right font20">{{Merchants}}</h4>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-1 pots">Verification Pending : {{MerchantsPending }}</h6>
                    </div>
                </div><!-- end col -->
                <div class="col">
                    <div class="card card-body">
                        <div class="d-flex mb-0 align-items-center">
                            <div class="flex-shrink-0">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">POINTS</p>
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <h4 class="card-title mb-1 text-right font20">{{Points}}</h4>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-1 pots">MTD : {{PointsMtd}}</h6>
                    </div>
                </div><!-- end col -->
                <div class="col">
                    <div class="card card-body">
                        <div class="d-flex mb-0 align-items-center">
                            <div class="flex-shrink-0">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">REDEEMED POINTS</p>
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <h4 class="card-title mb-1 text-right font20">{{ReddemPoints}} </h4>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-1 pots">MTD : {{ReddemPointsMtd}} Pts.</h6>
                    </div>
                </div><!-- end col -->
                <div class="col">
                    <div class="card card-body">
                        <div class="d-flex mb-0 align-items-center">
                            <div class="flex-shrink-0">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">CAMPAIGN</p>
                            </div>
                            <div class="flex-grow-1 ms-2">
                                <h4 class="card-title mb-1 text-right font20">{{Campaign}}</h4>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-1 pots"><span class="fltl">Coupon : {{Coupon}} </span> <span class="fltr">Redeem : {{CouponRedeem}}</span></h6>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bckwhite">
                    <h4 class="card-title mb-0">USERS <span class="card-title mb-1 text-right font20 fltr">{{Users}} </span></h4> 
                </div><!-- end card header -->

                <div class="card-header p-0 border-0 bg-light-subtle">
                    <div class="row g-0 text-center">
                        <div class="col-6 col-sm-6">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="7585">{{UserWalkIn}} </span></h5>
                                <p class="text-muted mb-0">Walk In</p>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-6 col-sm-6">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="22.89">{{UserRefferal}} </span></h5>
                                <p class="text-muted mb-0">Referral</p>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>
    
                <div class="card-body">
                    <apx-chart [series]="groupedBarChart.series" [chart]="groupedBarChart.chart"
                        [dataLabels]="groupedBarChart.dataLabels" [plotOptions]="groupedBarChart.plotOptions"
                        [xaxis]="groupedBarChart.xaxis" [stroke]="groupedBarChart.stroke" [colors]="groupedBarChart.colors"
                        dir="ltr"></apx-chart>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bckwhite">
                    <h4 class="card-title mb-0">POINTS <span class="card-title mb-1 text-right font20 fltr">{{Points}} </span></h4>
                </div><!-- end card header -->

                <div class="card-header p-0 border-0 bg-light-subtle">
                    <div class="row g-0 text-center">
                        <div class="col-6 col-sm-3">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="7585">{{SignInPoint}} </span></h5>
                                <p class="text-muted mb-0">Sign In</p>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="22.89">{{RefferalPoint}} </span></h5>
                                <p class="text-muted mb-0">Referral</p>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="7585">{{ReddemPoints}} </span></h5>
                                <p class="text-muted mb-0">Redeemed</p>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="22.89">{{EarnPoint}}</span></h5>
                                <p class="text-muted mb-0">Earn</p>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>
    
                <div class="card-body">
                    <apx-chart [series]="groupedBarChart1.series" [chart]="groupedBarChart1.chart"
                        [dataLabels]="groupedBarChart1.dataLabels" [plotOptions]="groupedBarChart1.plotOptions"
                        [xaxis]="groupedBarChart1.xaxis" [stroke]="groupedBarChart1.stroke" [colors]="groupedBarChart1.colors"
                        dir="ltr"></apx-chart>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bckwhite">
                    <h4 class="card-title mb-0">COUPONS</h4>
                </div><!-- end card header -->

                <div class="card-header p-0 border-0 bg-light-subtle">
                    <div class="row g-0 text-center">
                        <div class="col-6 col-sm-3">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="7585">{{Campaign}}</span></h5>
                                <p class="text-muted mb-0">Campaign</p>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="22.89">{{Coupon}} </span></h5>
                                <p class="text-muted mb-0">Coupon</p>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="7585">{{CouponRedeem}} </span></h5>
                                <p class="text-muted mb-0">Redeemed</p>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-6 col-sm-3">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="22.89">{{CouponTransfer}} </span></h5>
                                <p class="text-muted mb-0">Transfer</p>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>
    
                <div class="card-body">
                    <apx-chart [series]="groupedBarChart2.series" [chart]="groupedBarChart2.chart"
                        [dataLabels]="groupedBarChart2.dataLabels" [plotOptions]="groupedBarChart2.plotOptions"
                        [xaxis]="groupedBarChart2.xaxis" [stroke]="groupedBarChart2.stroke" [colors]="groupedBarChart2.colors"
                        dir="ltr"></apx-chart>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!-- end col -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bckwhite">
                    <h4 class="card-title mb-0">FREQUENT USERS</h4>
                </div><!-- end card header -->
    
                <div class="card-header p-0 border-0 bg-light-subtle">
                    <div class="row g-0 text-center">
                        <div class="col-6 col-sm-6">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="7585">{{FrequentUserVisit}} </span></h5>
                                <p class="text-muted mb-0">Visit</p>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-6 col-sm-6">
                            <div class="p-3 border border-dashed border-start-0">
                                <h5 class="mb-1"><span class="counter-value" data-target="22.89">{{FrequentUser}} </span></h5>
                                <p class="text-muted mb-0">Users</p>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>

                <div class="card-body">
                    <apx-chart [series]="groupedBarChart3.series" [chart]="groupedBarChart3.chart"
                        [dataLabels]="groupedBarChart3.dataLabels" [plotOptions]="groupedBarChart3.plotOptions"
                        [xaxis]="groupedBarChart3.xaxis" [stroke]="groupedBarChart3.stroke" [colors]="groupedBarChart3.colors"
                        dir="ltr">
                    </apx-chart>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
</form>

</div>
