.font20{
    font-size: 17px !important;
}

.card-body {
    padding: 9px !important;
}

.pots{
    font-size: 12px !important;
    color: #4d69c7;
}

.fltl{
    float: left;
}

.fltr{
    float: right;
}

.bckwhite{
    background: white !important;
}