<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>
  
    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-1 text-white-50">
                        <div>
                            <a href="" class="d-inline-block auth-logo authlogo">
                                <img src="assets/images/logo.png" alt="" height="100" style="border-radius: 10px;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
  
            <div class="row justify-content-center">
                <div class="col-md-5" *ngIf="showDiv.current">
                    <div class="card mt-4">
  
                        <div class="card-body p-4" >
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Signup Here!</h5>
                            </div>

                            <div class="p-2 ">
                                <div class="live-preview">
                                    <form [formGroup]="uploadForm" fxLayout="row wrap"
                                    (ngSubmit)="SubmitForm(uploadForm.value)">
                                    <div class="alert alert-borderless alert-warning text-center mb-2 mx-2" role="alert">
                                        <br>
                                        Your merchant name is 
                                        <span class="merchant-name-placeholder"> {{merchantName}}</span>.
           <br>
         
           <div *ngIf="customerName!=null">
            Your User name is 
            <span  class="merchant-name-placeholder">{{customerName}}</span>   
        
         </div>                                    
                                        
                                        <label  class="getmerchantid" >{{merchantId}} </label>
                                       
                                        <label></label>
        
                                        <br><br>
                                    
                                    </div>
                                            <div class="row mb-3">
                                                <!-- <div class="col-md-12">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Name 
                                                            <span class="madatory">*</span>
                                                        </label>
                                                         <input type="text" class="form-control" 
                                                        formControlName="name" required minlength="3" [(ngModel)]="CustName"
                                                        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                                                       
                                                        placeholder="Enter Name">
                                                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                                        <div *ngIf="f['name'].errors['required']">User Name is required</div>
                                                        <div *ngIf="f['name'].errors['minlength']">User Name least 3 char long
                                                        </div>            
                                                    </div>                                                  
                                                   </div>
                                                </div> -->
                                            </div>
                
                                            <div class="row mb-3">
        
                                                <div class="col-md-12">
                                                    <div>
                                                        <label for="basiInput" class="form-label">Mobile No
                                                            <span class="madatory">*</span> </label>
                                                        <input type="text" class="form-control"  (keypress)="keyPressOnlynum($event)"
                                                        formControlName="phoneNumber" [(ngModel)]="MobileNo"  required pattern="[0-9]+" C="10"
                                                        maxlength="10" minlength="10"
                                                        [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
                                                        (keypress)="blockSpaces($event)" placeholder="Enter Mobile No.">            
                                                    <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                                                        <div *ngIf="f['phoneNumber'].errors['required']">Mobile No. is required
                                                        </div>
                                                        <div *ngIf="f['phoneNumber'].errors['minlength']">Please enter valid Mobile
                                                            No.</div>
                                                    </div>
                                                    </div>
                                                </div>                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center gap-2 mt-2">

                                                        <div class="row">

                                                            <div class="col-md-3">
                                                        
                                                            </div>
                                                            <!-- <div class="col-md-6">
                                                                <p>Enter the text shown below:</p>
                                                                <h2>{{ generatedText }}</h2>

                                                                <input type="text" class="form-control "  formControlName="usertext"  [(ngModel)]="userText"  placeholder="Enter the text" />
                                                              
                                                                <button class="btn btn-primary mt-2 mb-2" (click)="verifyCaptcha()">Verify</button>    
                                                            </div> -->
                                                            <!-- <div class="col-md-3">
                                                            </div>
                                                            <div *ngIf="isVerified" class="success">{{capchatext}}</div>
                                                        -->
                                                        </div>

                                                        <div class="row">
                                                            <div class="">                                                               
                                                                I want to receive messages via Text as well as emails from BlooTusk” and “I acknowledge that I agree to the <a href="https://blootusk.com/termsconditions.html">Terms 
                                                                </a>of Use  and have read the 
                                                                    <a href="https://blootusk.com/privacypolicy.html"> Privacy Policy.</a><br>
                                                              </div>
                                                        </div>                                                        
<div ><br>
    <button type="submit"  name="btnsignup" (click)="submit()" class="btn btn-primary" ><i class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                            
</div>
<!-- <div *ngIf="isSubmitBtnDisabled">
    <button type="button" [disabled]="isSubmitBtnDisabled" name="btnsignup" class="btn btn-primary" ><i class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                                
</div> -->


                                                     </div>

                                                  
                                                </div>
                                            </div>
                                       
        </form>
                                </div>

                            </div>
                        </div> 

                    </div>
                </div>


                <div class="col-md-5" *ngIf="showDiv.next">
                    <form [formGroup]="Otporm" fxLayout="row wrap"
                    (ngSubmit)="SubmitForm(Otporm.value)">
                 
                    <div class="card mt-4">
  
                        <div class="card-body p-4" *ngIf="showDiv.next">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">OTP Verification</h5>
                            </div>
                            <div class="p-2 mt-4">

                                <div class="live-preview" >

                                    <div class="row mb-3">
                                        <div class="col-md-12">
                                            <div>
                                                <label for="basiInput" class="form-label">Enter OTP </label>
                                                <input type="text" class="form-control" formControlName="phoneNumberOTP" placeholder="Enter OTP">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center gap-2 mt-2">
                                                <div class="g-recaptcha" data-sitekey="6Lcrm84nAAAAAC7WUu1W_idnIbROE0oSNPit5HSr"></div>
                                                <button type="submit" class="btn btn-primary"><i class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                            </div>

                                            <div *ngIf="tokenVisible"> reCAPTCHA Token <br />
                                                <p style="color: red">{{reCAPTCHAToken}}</p>
                                              </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> 

                    </div>
                    </form>
                </div>



            </div>
            
        </div>
       
    </div>
  
  
    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy; 2023 BlooTusk. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
  </div>
  <!-- end auth-page-wrapper -->
  


