.project-wrapper{
    background: white !important;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-bottom: 12px;
}


.cupico{
    margin-left: -5px;
}

.cupbody{
    background: #f5f8fe;
    border-radius: 18px;
    border: 2px solid #c6c6c6;
    padding: 15px !important;
    margin-top: 12px;
}

.cupcd{
    text-align: center;
    background: #f8fbff;
    border-radius: 50px;
    border: 2px solid #c6c6c6;
    padding: 8px !important;
    margin: 10px;
}

.w-30{
    border-left: 1px solid #bebebe;
    padding-left: 10px;
}

.cpdt{
    color: #a3a3a3;
    font-size: 12px;
}

.cpd{
    font-size: 13px;
}

.w-4{
    padding-left: 5px;
}

.cupimg{
    border-radius: 50%;
    margin-top: -8px;
}