
<div class="row project-wrapper">
    <div class="col-xxl-8">
        

        <div class="container">
            <div class="gap-1">
                <button type="button" class="btn btn-success" (click)="CouponFilter(1)"><i class="ri-coupon-line cardicon align-middle"></i> Available</button>
                &nbsp;
                <button type="button" class="btn btn-warning" (click)="CouponFilter(1)"><i class="ri-coupon-fill cardicon align-middle"></i> Redeemed</button>
                &nbsp;
                <button type="button" class="btn btn-danger" (click)="CouponFilter(1)"><i class="ri-coupon-2-fill cardicon align-middle"></i> Expired</button>
            </div>

        </div>


        <div class="row">

            <div class="col-xl-3"  *ngFor="let object of getPageData()" >
                <div class="animate">
                    <div class="card-body card card-animate mt-2">
                        <div class="">
                            <div class="row mb-0">
                                <div class="col-md-8 mt-1">
                                    <img src="../../../../assets/images/cupico.png" alt="" height="20" class="cupico">
                                
                                    <label style="font-size: 12px; margin-right: 2px;" *ngIf="object.couponType==1"> {{"Transferable"}}
                                        <i class="ri-information-fill infoicon" ngbTooltip="Non-Transferable Coupon: A Coupon exclusively for you. This Coupon is Specific to your account and cannot be forwarded to others." ></i> 
                               
                                    </label>
                                <label style="font-size: 12px;" *ngIf="object.couponType==2"> {{"Non Transferable"}} 
                                    <i class="ri-information-fill infoicon" ngbTooltip="Transferable Coupon: A Coupon that can be shared with friends and family. Spread the  benefits by forwarding this coupon to others." ></i> 
                                </label>
                               
                            </div>  
                                <div class="col-md-4 text-right mt-2">
                                  <div *ngIf="object.couponType==2">
                                    <h6 style="color: green;"
                                    
                                    *ngIf="object.status==1">
                                    {{"Live"}} 
                                </h6>
                                <h6 style="color: red;" *ngIf="object.status==2">
                                    {{"Expired"}} 
                                </h6>
                                <h6  style="color: orange;" *ngIf="object.status==3">
                                    {{"Availed"}} 
                                </h6>                           
                                  </div>
                                    
                               
                                  <button type="button" *ngIf="object.couponType == 1" class="btn btn-primary"
                                  (click)="shareReferralLink(object.couponCode, object.source)"
                                  style="background-color: #007bff; color: #fff; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer; text-align: center;">
                            <i class="ri-share-line label-icon align-middle"></i> </button>
                                
                        
                        </div>
                            </div>
                            <div class="row mb-0">
                                <div class="col-md-12"><div class="mt-0">
                                    <h6 class="mb-0">{{object.discountValue}} 
                                    <a *ngIf="object.discountType=='percentage'" class="link-success fs-11"><i class="ri-percent-line"></i> </a>
                                    <a *ngIf="object.discountType=='dollar'" class="link-success fs-11"><i class="bx bx-dollar"></i> </a>
                                    Off
                                </h6>
                            </div></div>
                            </div>
                            <div class="row mb-0">
                                <div class="col-md-12"><div class="mt-2"><h6 class="cupdis">{{object.couponDiscerption}}</h6></div></div>
                            </div>
                            <div class="row mb-0">
                                <div class="col-md-12"><div class="mt-0"><h5 class="cupnm">{{object.merchantDetail}}</h5></div></div>
                            </div>
                            <div class="row mb-0">
                                <div class="col-md-12"><div class="cupcd"><h5 class="mb-0 cupdis">Coupon Code : {{object.couponCode}}</h5></div></div>
                            </div>
                            <div class="row mb-0 mt-2">
                                <table>
                                    <tr>
                                        <td class="w-40">
                                            <tr>
                                                <td class="w-4"><img src="{{object.imageUrl}}" alt="" height="40" class="cupimg"></td>
                                              
                                                <td class="w-4"> 
                                                    <h6 class="cpdt">Campaign Source</h6><h5 class="cpd">{{object.source}}</h5>
                                                </td>
                                            </tr>
                                        </td>
                                        <td class="w-30">
                                            <h6 class="cpdt">Expire Date</h6><h5 class="cpd">{{object.endDate| date:'dd/MM/yyyy'}}</h5>
                                        </td>                                        
                                    </tr>
                                </table>
                                <button type="button" class="btn btn-primary" 
                                (click)="openModalQR(qrcontent,object.couponCode,object.source)">
                                View QR Code
                               </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-3">
                <div class="gridjs-pagination">
                    <div class="gridjs-pages" *ngIf="CustomerCouponList.length > 0">
                        <button tabindex="0" role="button" (click)="onPageChanged3(page - 1)"
                            [disabled]="page === 1" title="Previous" aria-label="Previous">
                            Previous
                        </button>
                        <button tabindex="0" role="button" *ngFor="let pageNumber of getPageNumbers3()"
                            (click)="onPageChanged3(pageNumber)"
                            [class.gridjs-currentPage]="page === pageNumber"
                            [attr.title]="'Page ' + pageNumber" [attr.aria-label]="'Page ' + pageNumber">
                            {{ pageNumber }}
                        </button>
                        <button tabindex="0" role="button" (click)="onPageChanged3(page + 1)"
                            [disabled]="page === getTotalPages3()" title="Next" aria-label="Next">
                            Next
                        </button>
                    </div>
                </div>
            </div>

        </div>
    
            <!-- QR Modal -->
            <ng-template #qrcontent role="document" let-modal>
                <div class="modal-header">
                    <h5 class="modal-title mt-0">QR Code</h5>
                    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <form >
                            <div class="row">
                                <div class="col-md-12">   
                                    <div [id]="id" *ngFor="let id of array" class="qr-code-container">
                                        <label for="basiInput" class="form-label merchant" style="text-align: center;">Merchant Name: {{merchantName}} </label>
                                                                                  
                                        <img src="assets/images/Logo_squre.jpg" alt="Logo" class="logo" >
                                        <img  src="{{ qrCode }}" alt="QR Code" class="qr-code">
                                    </div>
                                    </div>
                                </div>
                            
                            <div class="mt-3 text-center" >
                                <a type="submit" (click)="trivialDownload()"  class="btn btn-success"><i class="ri-download-line label-icon align-middle me-2"></i> Download QR Code</a>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
    </div>
</div>


