<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-12">

            <div class="card">

                <div class="card-body form-steps">

                    <div class="col-md-12">

                        <ul ngbNav #PillsJustified="ngbNav" [activeId]="activeTab" class="nav nav-pills nav-justified mb-3">
                            
                            <li [ngbNavItem]="1" class="nav-item waves-effect waves-light">

                                <a ngbNavLink>Notice</a>

                                <ng-template ngbNavContent>

                                    <div class="wbody">
                                        <div class="live-preview">

                                            <div class="row mb-1">
                                                <div class="col-md-4">
                                                    <div class="btn-left mb-2">
                                                        <i class="ri-newspaper-fill addnewico"></i> &nbsp; <label
                                                            class="form-label mt-2">
                                                            <h5>Notice Information</h5>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="btn-right mt-1">
                                                        <button type="button" class="btn btn-primary btn-sm mt-1"><i class="ri-download-2-fill"></i> Download</button>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="card">

                                                <div class="card-body">

                                                    <div class="row mb-3">

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="basiInput"class="form-label">Company CIN<span class="mnd-fld">*</span></label>
                                                                <select class="form-select" aria-label="Default select example">
                                                                    <option>Data</option>
                                                                    <option>Data</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="basiInput"class="form-label">Meeting Type<span class="mnd-fld">*</span></label>
                                                                <select class="form-select" aria-label="Default select example">
                                                                    <option>Data</option>
                                                                    <option>Data</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="labelInput" class="form-label">Company Name<span class="mnd-fld">*</span></label>
                                                                <input type="text" class="form-control" required placeholder="Enter Company Name">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-8">
                                                            <div>
                                                                <label for="labelInput" class="form-label">Address of Company<span class="mnd-fld">*</span></label>
                                                                <textarea class="form-control" rows="1" placeholder="Enter Company Address"></textarea>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="basiInput"class="form-label">Meeting Notice No.<span class="mnd-fld">*</span></label>
                                                                <input type="text" class="form-control" required placeholder="Enter Meeting Notice No.">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="labelInput"class="form-label">Meeting Date<span class="mnd-fld">*</span></label>
                                                                <div class="form-icon right">
                                                                    <input class="form-control form-control-icon flatpickr-input"
                                                                    type="text" mwlFlatpickr
                                                                    [altInput]="true" [dateFormat]="'Y-m-d H:i'"
                                                                    data-provider="flatpickr"
                                                                    data-date-format="Y m, d"
                                                                    [convertModelValue]="false"
                                                                    placeholder="Select Meeting Date & Time"><i
                                                                    class="ri-calendar-2-line"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="labelInput"class="form-label">Meeting Time<span class="mnd-fld">*</span></label>
                                                                <div class="form-icon right">
                                                                    <input type="time" class="form-control" matInput name="week" min="09:00" max="18:00" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row mb-3">

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="labelInput"class="form-label">Meeting Period Start Date<span class="mnd-fld">*</span></label>
                                                                <div class="form-icon right">
                                                                    <input class="form-control form-control-icon flatpickr-input"
                                                                    type="text" mwlFlatpickr
                                                                    [altInput]="true" [dateFormat]="'Y-m-d'"
                                                                    data-provider="flatpickr"
                                                                    data-date-format="Y m, d"
                                                                    [convertModelValue]="false"
                                                                    placeholder="Select Meeting Period Start Date"><i
                                                                    class="ri-calendar-2-line"></i>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="labelInput"class="form-label">Meeting Period End Date<span class="mnd-fld">*</span></label>
                                                                <div class="form-icon right">
                                                                    <input class="form-control form-control-icon flatpickr-input"
                                                                    type="text" mwlFlatpickr
                                                                    [altInput]="true" [dateFormat]="'Y-m-d'"
                                                                    data-provider="flatpickr"
                                                                    data-date-format="Y m, d"
                                                                    [convertModelValue]="false"
                                                                    placeholder="Select Meeting Period End Date"><i
                                                                    class="ri-calendar-2-line"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>

                                                    <div class="row mb-3">

                                                        <div class="col-md-4">
                                                            <div>
                                                                <label for="labelInput" class="form-label">Signature Director<span class="mnd-fld">*</span></label>
                                                                <ng-select [items]="Default" bindLabel="name" [clearable]="false" [(ngModel)]="signDirector">
                                                                    <ng-template ng-optgroup-tmp let-item="item">
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-8">
                                                            <div>
                                                                <label for="labelInput" class="form-label">Directors<span class="mnd-fld">*</span></label>
                                                                <ng-select [items]="Default" [multiple]="true" [clearable]="false" bindLabel="name" [(ngModel)]="multiDefaultOption">
                                                                    <ng-template ng-optgroup-tmp let-item="item">
                                                                        
                                                                    </ng-template>
                                                              </ng-select>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="row mb-1">
                                                <div class="col-md-4">
                                                    <div class="btn-left mb-2">
                                                        <i class="ri-survey-fill addnewico"></i> &nbsp; <label
                                                            class="form-label mt-2">
                                                            <h5>Agenda Information</h5>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="btn-right mt-0">
                                                        <label class="form-label mt-1"tooltip="Add Agenda Point">Agenda Point</label> &nbsp; <i class="ri-add-box-fill addnew" (click)="addAgenda()"></i>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="card" *ngIf="addAgendaDiv">

                                                <div class="card-body">

                                                    <div class="row mb-3">

                                                        <div class="col-md-12">
                                                            <div>
                                                                <label for="basiInput"class="form-label">Agenda Point<span class="mnd-fld">*</span></label>
                                                                <input type="text" class="form-control" required placeholder="Enter Agenda Point">
                                                            </div>
                                                        </div>

                                                    </div>

                                                   
                                                    <div class="row mb-3">

                                                        <div class="col-md-12">
                                                            <div>
                                                                <label for="labelInput" class="form-label">Agenda Point Details<span class="mnd-fld">*</span></label>
                                                                <textarea class="form-control" rows="2" placeholder="Enter Agenda Point Details"></textarea>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="card-footer">
                                                    <div class="row align-items-center gy-3">
                                                        <div class="col-sm">
                                                            
                                                        </div>
                                                        <div class="col-sm-auto">
                                                            <div class="col-lg-12">
                                                                <div class="text-end d-flex align-items-start gap-2 ">
                                                                    <button type="button" class="btn btn-info ms-auto" (click)="removeAgenda()"><i class="ri-close-line label-icon align-middle me-2"></i> Cancel</button>
                                                                    <button type="submit" class="btn btn-success"><i class="ri-save-3-fill label-icon align-middle me-2"></i> Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="card">
                                                <div class="bg-soft-warning position-relative">
                                                    <div class="card-body p-5">
                                                        <div class="text-center">
                                                            <h3>Agenda</h3>
                                                        </div>
                                                    </div>
                                                    <div class="shape">
                                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="60" preserveAspectRatio="none"viewBox="0 0 1440 60">
                                                            <g mask="url(&quot;#SvgjsMask1001&quot;)" fill="none"><path d="M 0,4 C 144,13 432,48 720,49 C 1008,50 1296,17 1440,9L1440 60L0 60z" style="fill: var(--vz-card-bg-custom);"></path></g>
                                                            <defs>
                                                                <mask id="SvgjsMask1001">
                                                                    <rect width="1440" height="60" fill="#ffffff"></rect>
                                                                </mask>
                                                            </defs>
                                                        </svg>
                                                    </div>
                                                </div>

                                                <div class="card-body">

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>1.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> To appoint the Chairman of the meeting. </h5>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>2.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> To grant leave of absence to Directors, if any. </h5>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>3.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> To sign the minutes of the previous Board Meeting. </h5>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>i.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> Point Heading <i class="ri-delete-bin-2-fill delpoint"></i></h5> 
                                                        </div>
                                                    </div>

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>4.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> Any other matter with the permission of the Chair and with the consent of  the majority of the Directors, present at the Meeting.</h5>
                                                        </div>
                                                    </div>
            
                                                </div>

                                            </div>

                                            <div class="card">
                                                <div class="bg-soft-warning position-relative">
                                                    <div class="card-body p-5">
                                                        <div class="text-center">
                                                            <h3>Notes To Agenda</h3>
                                                        </div>
                                                    </div>
                                                    <div class="shape">
                                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="60" preserveAspectRatio="none"viewBox="0 0 1440 60">
                                                            <g mask="url(&quot;#SvgjsMask1001&quot;)" fill="none"><path d="M 0,4 C 144,13 432,48 720,49 C 1008,50 1296,17 1440,9L1440 60L0 60z" style="fill: var(--vz-card-bg-custom);"></path></g>
                                                            <defs>
                                                                <mask id="SvgjsMask1001">
                                                                    <rect width="1440" height="60" fill="#ffffff"></rect>
                                                                </mask>
                                                            </defs>
                                                        </svg>
                                                    </div>
                                                </div>

                                                <div class="card-body">

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>1.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> To appoint the Chairman of the meeting. </h5>
                                                            <p class="text-muted">The Directors present are requested to appoint one amongst themselves as the Chairperson, to preside over the meeting. </p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>2.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> To grant leave of absence to Directors, if any. </h5>
                                                            <p class="text-muted">The Board of Directors is requested to consider the request for grant leave of absence, received from the the Directors, if any, from attending  the meeting.  </p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>3.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> To sign the minutes of the previous Board Meeting. </h5>
                                                            <p class="text-muted">The minutes of the previous Board Meeting had already been circulated to the Board of Directors of the Company. The Chairman is requested to sign the same. </p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>i.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> Point Heading <i class="ri-delete-bin-2-fill delpoint"></i></h5> 
                                                            <p class="text-muted"> Point Description</p>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <h5>4.</h5>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h5> Any other matter with the permission of the Chair and with the consent of  the majority of the Directors, present at the Meeting.</h5>
                                                            <p class="text-muted">The meeting is requested to consider any other matter with the permission of the Chair and the consent of  the majority of the Directors, present at the Meeting. </p>
                                                        </div>
                                                    </div>
                                    
                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="row align-items-center gy-3">
                                            <div class="col-sm">
                                                <div class="d-flex flex-wrap my-n1">
                                                    <div>
                                                        <i class="ri-information-line text-muted align-bottom me-1"></i>
                                                        Tip
                                                        : (<span class="mnd-fld">*</span>) fields are mandatory.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <div class="col-lg-12">
                                                    <div class="text-end d-flex align-items-start gap-2 ">
                                                        <button [routerLink]="['../meetinglist']" type="button"
                                                            class="btn btn-info ms-auto"><i
                                                                class="ri-close-line label-icon align-middle me-2"></i> Cancel</button>
                                                        <button type="submit" class="btn btn-success"><i
                                                                class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </ng-template>

                            </li>

                            <li [ngbNavItem]="2" class="nav-item waves-effect waves-light" >

                                <a ngbNavLink><span class="d-sm-block">Acknowledgement</span></a>

                                <ng-template ngbNavContent>
                                    
                                    
                                    <div class="wbody">
                                        <div class="live-preview">

                                            <div class="row mb-1">
                                                <div class="col-md-4">
                                                    <div class="btn-left mb-2">
                                                        <i class="ri-newspaper-fill addnewico"></i> &nbsp; <label
                                                            class="form-label mt-2">
                                                            <h5>Acknowledgement Information</h5>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="btn-right mt-1">
                                                        <button type="button" class="btn btn-primary btn-sm mt-1"><i class="ri-download-2-fill"></i> Download</button>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="card">

                                                <div class="card-body">

                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped align-middle table-nowrap mb-0">
                                                            <thead class="table-light">
                                                                <tr>
                                                                    <th scope="col" class="col-ch"></th>
                                                                    <th scope="col" class="col-nm">Director Name</th>
                                                                    <th scope="col" class="col-up">Upload Signature</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                    <td>Data</td>
                                                                    <td>
                                                                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                    <td>Data</td>
                                                                    <td>
                                                                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                    <td>Data</td>
                                                                    <td>
                                                                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="row align-items-center gy-3">
                                            <div class="col-sm">
                                                <div class="d-flex flex-wrap my-n1">
                                                    <div>
                                                        <i class="ri-information-line text-muted align-bottom me-1"></i>
                                                        Tip
                                                        : (<span class="mnd-fld">*</span>) fields are mandatory.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <div class="col-lg-12">
                                                    <div class="text-end d-flex align-items-start gap-2 ">
                                                        <button [routerLink]="['../meetinglist']" type="button"
                                                            class="btn btn-info ms-auto"><i
                                                                class="ri-close-line label-icon align-middle me-2"></i> Cancel</button>
                                                        <button type="submit" class="btn btn-success"><i
                                                                class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </ng-template>

                            </li>

                            <li [ngbNavItem]="3" class="nav-item waves-effect waves-light" >

                                <a ngbNavLink><span class="d-sm-block">Attendance</span></a>

                                <ng-template ngbNavContent>
                                    
                                    <div class="wbody">
                                        <div class="live-preview">

                                            <div class="row mb-1">
                                                <div class="col-md-4">
                                                    <div class="btn-left mb-2">
                                                        <i class="ri-newspaper-fill addnewico"></i> &nbsp; <label
                                                            class="form-label mt-2">
                                                            <h5>Attendance Information</h5>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="btn-right mt-1">
                                                        <button type="button" class="btn btn-primary btn-sm mt-1"><i class="ri-download-2-fill"></i> Download</button>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="card">

                                                <div class="card-body">

                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped align-middle table-nowrap mb-0">
                                                            <thead class="table-light">
                                                                <tr>
                                                                    <th scope="col" class="col-ch"></th>
                                                                    <th scope="col" class="col-dr">Director Name</th>
                                                                    <th scope="col" class="col-up">Upload Signature</th>
                                                                    <th scope="col" class="col-pr">Mode of Presence, if participating through Electronic Mode</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                    <td>Data</td>
                                                                    <td>
                                                                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                    <td>Data</td>
                                                                    <td>
                                                                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                    <td>Data</td>
                                                                    <td>
                                                                        <input class="form-control form-control-sm" id="formFileSm" type="file">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input class="form-check-input" type="checkbox" id="formCheck1">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="row align-items-center gy-3">
                                            <div class="col-sm">
                                                <div class="d-flex flex-wrap my-n1">
                                                    <div>
                                                        <i class="ri-information-line text-muted align-bottom me-1"></i>
                                                        Tip
                                                        : (<span class="mnd-fld">*</span>) fields are mandatory.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <div class="col-lg-12">
                                                    <div class="text-end d-flex align-items-start gap-2 ">
                                                        <button [routerLink]="['../meetinglist']" type="button"
                                                            class="btn btn-info ms-auto"><i
                                                                class="ri-close-line label-icon align-middle me-2"></i> Cancel</button>
                                                        <button type="submit" class="btn btn-success"><i
                                                                class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </ng-template>

                            </li>

                            <li [ngbNavItem]="4" class="nav-item waves-effect waves-light" >

                                <a ngbNavLink><span class="d-sm-block">Minutes of Meeting</span></a>

                                <ng-template ngbNavContent>
                                    Minutes of Meeting Tab Data
                                </ng-template>

                            </li>

                        </ul>

                        <div class="tab-content text-muted">
                            <div [ngbNavOutlet]="PillsJustified"></div>
                        </div>

                    </div>

                </div>

            </div>
           
        </div>
    </div>