<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-header card-header-table align-items-center d-flex">
                    <i class="ri-user-fill cardicon"></i> 
                    <h4 class="card-title mb-0 flex-grow-1">Referral Link List</h4>
                   
                </div>
                
                <div class="card-body">

                    <div class="live-preview">   
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Referral Link</th>   
                                        <th>Stop SMS</th>
                                        <th scope="col">Copy</th>

                                        <th scope="col">Share</th>
                                        <th scope="col">Merchant Name</th>                                  
                                        
                                    </tr>
                                </thead>
                                <tbody  *ngFor="let object of CustomerList; let i = index" >
                                    <tr>
                                        <td>{{ object.rEfferalLink }}</td>   
                                        <td>
                                            <input type="checkbox" [checked]="object.stopSms" (change)="toggle(object.userCustId, $event.target, i)">
                                        </td>
                                        <td>
                                            <!-- <button type="button" class="btn btn-primary"
                                              (click)="shareReferralLink(object.rEfferalLink)"
                                              style="background-color: #007bff; color: #fff; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer; text-align: center;">
                                               <i class="ri-share-line label-icon align-middle"></i>
                                            </button> -->

                                            <!-- app.component.html -->
 
                                            <!-- <button  (click)="copyInputMessage(object.rEfferalLink)">
                                            <i  class="ri-file-copy-2-fill"></i>
                                            <span *ngIf="isCopied" class="side-text">Copied!</span>
                                            </button> 
                                        
                                        -->

                                      

                                        <button (click)="copyInputMessage(object.rEfferalLink, i)">
                                            <i class="ri-file-copy-2-fill"></i>
                                            <span *ngIf="lastClickedButtonIndex == i " class="side-text">Copied!</span>
                                          </button> 

                                        </td>
                                        <td>
                                             <button type="button" class="btn btn-primary"
                                              (click)="shareReferralLink( object.rEfferalLink , object.merchantName)"
                                              style="background-color: #007bff; color: #fff; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer; text-align: center;">
                                               <i class="ri-share-line label-icon align-middle"></i>
                                            </button>
                                        </td>
                                                                     
                                        <td>{{ object.merchantName }}</td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                       
                    </div>

                </div>

            </div>
        </div>
    </div>
 </div>








