<div class="alertclass" [class.visible]="isVisibleSuccess">
    <div class="alert alert-success alert-border-left alert-dismissible fade show" role="alert">
        <i class="ri-check-double-line me-3 align-middle"></i> <strong>Success</strong> {{ messageContent }}
        <button type="button" class="btn-close" aria-label="Close" (click)="closeSuccessAlert()"></button>
    </div>
</div>

<div class="alertclass" [class.visible]="isVisibleDanger"> 
    <div class="alert alert-danger alert-border-left alert-dismissible fade show" role="alert" >
        <i class="ri-error-warning-line me-3 align-middle"></i> <strong>Danger</strong> {{ messageContent }}
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDangerAlert()"></button>
    </div>
</div>

<div class="alertclass" [class.visible]="isVisibleWarning"> 
    <div class="alert alert-warning alert-border-left alert-dismissible fade show" role="alert">
        <i class="ri-alert-line me-3 align-middle"></i> <strong>Warning</strong> {{ messageContent }}
        <button type="button" class="btn-close" aria-label="Close" (click)="closeWarningAlert()"></button>
    </div>
</div>
