<div class="container">
    <div class="row">
        <div class="col-lg-12">

          
                <div class="card">

                    <div class="card-header align-items-center d-flex">
                        <i class="ri-user-fill cardicon"></i>
                        <h4 class="card-title mb-0 flex-grow-1">Merchant Information</h4>
                        <div class="flex-shrink-0">
                            <!-- left side view -->
                        </div>
                    </div>

                    <form [formGroup]="uploadForm" fxLayout="row wrap"
                    (ngSubmit)="createMerchant(uploadForm.value)">
                   

                    <div class="card-body">

                        <div class="live-preview">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-left mb-2">
                                        <i class="ri-arrow-right-circle-fill addnewico"></i> &nbsp; <label
                                            class="form-label mt-2">
                                            <h6 class="heads">Merchant Details</h6>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">   
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <div>
                                                <label for="labelInput" class="form-label">Email Id <span class="mnd-fld">*</span></label>
                                                <div class="form-icon right">
                                                    <input (keypress)="blockSpaces($event)" type="email" class="form-control"
                                                    id="email" formControlName="email"
                                                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                                                    placeholder="Enter email"
                                                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">         
                                                      <i class="ri-mail-unread-line"></i>
                                                </div>
                                                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback d-block">
                                                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                                                    <div *ngIf="f['email'].errors['pattern']">Please enter valid Email
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label for="basiInput" class="form-label">Mobile No <span class="mnd-fld">*</span> </label>
                                                <input type="text" class="form-control" (keypress)="keyPressOnlynum($event)"
                                                formControlName="phoneNumber" required pattern="[0-9]+" C="10"
                                                maxlength="10" minlength="10"
                                                [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"
                                                (keypress)="blockSpaces($event)" placeholder="Enter Mobile Number.">            
                                            <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                                                <div *ngIf="f['phoneNumber'].errors['required']">Mobile No. is required
                                                </div>
                                                <div *ngIf="f['phoneNumber'].errors['minlength']">Please enter valid Mobile
                                                    Number.</div>
                                            </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div>
                                                <label for="basiInput" class="form-label">Contact Person Name <span class="mnd-fld">*</span></label>
                                                <input type="text" class="form-control" (keypress)="allowOnlySpaces($event)"
                                                        formControlName="contactPersonName" required minlength="3"
                                                        [ngClass]="{ 'is-invalid': submitted && f['contactPersonName'].errors }"
                                                        placeholder="Enter Contact Person Name">
                                                    <div *ngIf="submitted && f['contactPersonName'].errors" class="invalid-feedback">
                                                        <div *ngIf="f['contactPersonName'].errors['required']">Contact Person Name is required</div>
                                                        <div *ngIf="f['contactPersonName'].errors['minlength']">Contact Person least 3 char long
                                                        </div>
                                                    </div>                                                   
                                                 </div>
                                        </div>     
                                        
                                        

                                    </div>
                                    <div class="row mb-3">
        
                                        <div class="col-md-6">
                                            <div>
                                                <label for="basiInput" class="form-label">Password  <span class="madatory">*</span></label>
                                                <div class="position-relative auth-pass-inputgroup">
                                                    <input [type]="fieldTextType1 ? 'text' : 'password'"
                                                    class="form-control pe-5" placeholder="Use Alphanumeric, Special character, Upper & Lower case letter"
                                                    id="password-input" formControlName="password" maxlength="15"
                                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                                                    minlength="6"  (input)="checkPasswordStrength()">
                                                <button
                                                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted btn-eye"
                                                    type="button" id="password-addon"><i class="mdi align-middle pass-eye"
                                                     [ngClass]="{'mdi-eye-off-outline': !fieldTextType1, 'mdi-eye-outline': fieldTextType1
                                                     }" (click)="toggleFieldTextType1()"></i></button>
                                                 
                                                         
                                                 <div *ngIf="(submitted && f['password'].errors) || f['password'].dirty" class="invalid-feedback d-block">
                                                    <div *ngIf="f['password'].errors?.['required']">Password is required</div>
                                                    <div *ngIf="f['password'].errors?.['minlength']">Password must be at least 8 to 15 characters long</div>
                                                    <div *ngIf="f['password'].errors?.['weakPassword']"> Combine symbols, numbers, lowercase, and uppercase letters </div>                                                        
                                                  </div>
                                               
                                            
                                            </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div>
                                                <label for="basiInput" class="form-label">Confirm Password  <span class="madatory">*</span></label>
                                                <div class="position-relative auth-pass-inputgroup">
                                              <input [type]="fieldTextType2? 'text' : 'password'"
                                                    class="form-control pe-5" placeholder="Use Alphanumeric, Special character, Upper & Lower case letter"
                                                    id="password-input" formControlName="confirmPassword" maxlength="15"
                                                    [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" >
                                                <button  class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted btn-eye"
                                                    type="button" id="password-addon"><i class="mdi align-middle pass-eye" [ngClass]="{'mdi-eye-off-outline': !fieldTextType2, 'mdi-eye-outline': fieldTextType2
                                                     }" (click)="toggleFieldTextType2()"></i></button>
                                                 <!-- <div  *ngIf="f['confirmPassword'].dirty">Password and Confirm password must be same.</div> -->
                                               
                                                <div *ngIf="(f['confirmPassword'].errors && f['confirmPassword'].dirty) || submitted" class="invalid-feedback d-block">
                                                    <div *ngIf="f['confirmPassword'].errors?.['required']">Confirm Password is required</div>
                                                    <div *ngIf="f['confirmPassword'].errors?.['minlength']">Password must be at least 8 to 15 characters long</div>
                                                    <div *ngIf="f['confirmPassword'].errors?.['matching']">Password and Confirm Password must match</div>
                                                </div>

                                                
                                                       </div>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="btn-left mb-2">
                                        <i class="ri-arrow-right-circle-fill addnewico"></i> &nbsp; <label
                                            class="form-label mt-2">
                                            <h6 class="heads">POS Details</h6>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-1">
                                <div class="card-body" formGroupName="posInfo">
                                    <div class=" mb-3 col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="basiInput" class="form-label">Merchant (Organization) Name <span class="mnd-fld">*</span></label>
                                                <input type="text" class="form-control" 
                                                formControlName="organizationName" required minlength="3"
                                               
                                                placeholder="Enter Merchant (Organization) Name">

                                               <div *ngIf="this.uploadForm.get('posInfo.organizationName')?.invalid && submitted" class="invalid-feedback d-block">
                                                            <div *ngIf="this.uploadForm.get('posInfo.organizationName')?.errors?.['required']">Organization Name is required</div>                                                        
                                                        <div *ngIf="this.uploadForm.get('posInfo.organizationName')?.errors?.['minlength']">Organization Name least 3 char long                                            </div>
                                               </div> 
                                            
                                            
                                            </div>

                                            <div class="col-md-4">
                                                <label for="basiInput" class="form-label">Branch Name <i class="ri-information-fill infoicon" ngbTooltip="Enter your Branch name" ></i> </label>
                                                <input type="text" class="form-control" formControlName="posName"   minlength="3"
                                                 placeholder="Enter Branch Name">
                                                
                                                <!-- <div *ngIf="this.uploadForm.get('posInfo.posName')?.invalid && submitted" class="invalid-feedback d-block">
                                                    <div *ngIf="this.uploadForm.get('posInfo.posName')?.errors?.['required']">Pos Name is required</div>                                                        
                                                <div *ngIf="this.uploadForm.get('posInfo.posName')?.errors?.['minlength']">Pos Name least 3 char long                                               </div>
                                            
                                            </div>-->
                                              
                                            </div>


                                            <div class="col-md-4">
                                                <label for="basiInput" class="form-label">City Name <span class="mnd-fld">*</span></label>
                                                <input type="text" class="form-control" 
                                                formControlName="city" required minlength="3"
                                               
                                                placeholder="Enter City Name">

                                               <div *ngIf="this.uploadForm.get('posInfo.city')?.invalid && submitted" class="invalid-feedback d-block">
                                                            <div *ngIf="this.uploadForm.get('posInfo.city')?.errors?.['required']">city Name is required</div>                                                        
                                                        <div *ngIf="this.uploadForm.get('posInfo.city')?.errors?.['minlength']">city Name least 3 char long                                            </div>
                                               </div> 
                                            
                                            
                                            </div>

                                            
                                        </div>
        
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <div>
                                                <label for="basiInput" class="form-label">Category <span class="mnd-fld">*</span></label>
                                                <select class="form-select" aria-label="Default select example"  formControlName ="categoryId" >
                                                    <option value="" disabled selected>Select Category</option>
                                                    <option *ngFor="let category of CatagoryLists" [value]="category.categoryId">
                                                      {{ category.categoryName }}
                                                    </option>                                                  
                                            </select>
                                               <div *ngIf="submitted && this.uploadForm.get('posInfo.categoryId')?.invalid" class="invalid-feedback d-block">
                                                <div *ngIf="this.uploadForm.get('posInfo.categoryId')?.errors?.['required']">Please Select category</div>
                                             </div>
                                               
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div>
                                                <label for="basiInput" class="form-label">Business Address <span class="mnd-fld">*</span> </label>
                                                <textarea class="form-control" rows="1" formControlName="posAddress" placeholder="Enter Business Address"></textarea>
                                                <div *ngIf="this.uploadForm.get('posInfo.posAddress')?.invalid && submitted" class="invalid-feedback d-block">
                                                    <div *ngIf="this.uploadForm.get('posInfo.posAddress')?.errors?.['required']">Business Address is required</div>                                                        
                                                <div *ngIf="this.uploadForm.get('posInfo.posAddress')?.errors?.['minlength']">Business Address least 3 char long                                               </div>
                                             </div> 

                                            </div>
                                        </div>

                                    </div>
        
                                    <div class="row mb-3">
        
                                        <div class="col-md-4">
                                            <div>
                                                <label for="basiInput" class="form-label">Zip Code <span class="mnd-fld">*</span> </label>
                                                <input type="text" class="form-control" placeholder="Enter Zip Code" 
                                                (keypress)="keyPressOnlynum($event)" maxlength="5"
                                                formControlName="zip"> 

                                                <div *ngIf="this.uploadForm.get('posInfo.zip')?.invalid && submitted" class="invalid-feedback d-block">
                                                    <div *ngIf="this.uploadForm.get('posInfo.zip')?.errors?.['required']">Zip code is required</div>                                                        
                                                <div *ngIf="this.uploadForm.get('posInfo.zip')?.errors?.['minlength']">zip Code least 5 char long                                               </div>
                                            
                                            </div> 
                                            </div>
                                        </div>
        
                                        <div class="col-md-4">
                                            <div>
                                                <label for="basiInput" class="form-label">State <span class="mnd-fld">*</span></label>
                                                <!-- <ng-select [items]="StateLists" bindLabel="stateName" bindValue="stateId"
                                                 formControlName="stateId"   placeholder="Select state">
                                                    <ng-template ng-optgroup-tmp let-item="item" >
                                                    </ng-template>
                                                </ng-select> -->


                                                <select class="form-select" aria-label="Default select example" placeholder="Select State" formControlName ="stateId" >
                                                    <option value="" disabled selected>Select State</option>
                                                    <option *ngFor="let state of StateLists" [value]="state.stateId">
                                                      {{ state.stateName }}
                                                    </option>
                                                  
                                            </select>
                                            <div *ngIf="this.uploadForm.get('posInfo.stateId')?.invalid && submitted" class="invalid-feedback d-block">
                                                <div *ngIf="this.uploadForm.get('posInfo.stateId')?.errors?.['required']">Please select State</div>                                                        
                                         </div> 
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div>
                                                <label for="basiInput" class="form-label">Country <span class="mnd-fld">*</span></label>
                                                <!-- <ng-select [items]="CountryLists" bindLabel="countryName" bindValue="countryId"  formControlName ="countryId" >
                                                    <ng-template ng-optgroup-tmp let-item="item">
                                                    </ng-template>
                                                </ng-select>          -->

                                                <select class="form-select" aria-label="Default select example"  formControlName ="countryId" >
                                                
                                                <option value="" disabled selected>Select Country</option>
                                                <option *ngFor="let country of CountryLists" [value]="country.countryId">
                                                  {{ country.countryName }}
                                                </option>
                                                </select> 
                                                <div *ngIf="this.uploadForm.get('posInfo.countryId')?.invalid && submitted" class="invalid-feedback d-block">
                                                    <div *ngIf="this.uploadForm.get('posInfo.countryId')?.errors?.['required']">Please select Country</div>                                                        
                                             </div>
                                            </div>
                                        </div>
        
                                    </div>
        
                                    <!-- <div class="row mb-1">
        
                                        <div class="col-md-4">
                                            <div>
                                                <label for="basiInput" class="form-label">Latitude </label>
                                                <input type="text" class="form-control" placeholder="Enter Latitude" formControlName ="latitude" >
                                            
                                            </div>
                                        </div>
        
                                        <div class="col-md-4">
                                            <div>
                                                <label for="basiInput" class="form-label">Longitude </label>
                                                <input type="text" class="form-control" placeholder="Enter Longitude" formControlName ="longitude">
                                            </div>
                                        </div>
        
                                    </div> -->

                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="card-footer">
                        <div class="row align-items-center gy-3">
                            <div class="col-sm">
                                <div class="d-flex flex-wrap my-n1">
                                    <div>
                                        <i class="ri-information-line text-muted align-bottom me-1"></i>Tip : (<span class="mnd-fld">*</span>) fields are mandatory.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <div class="col-lg-12">
                                    <div class="text-end d-flex align-items-start gap-2 ">
                                        <button type="button" (click)="CancelForm()" class="btn btn-info ms-auto"><i class="ri-close-line label-icon align-middle me-2"></i> Cancel</button>
                                        <button type="submit" (click)="submit()" class="btn btn-success"><i class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                    
                                    
                                        <!-- <app-alert [isVisibleSuccess]="isVisibleSuccess" [isVisibleDanger]="isVisibleDanger" [isVisibleWarning]="isVisibleWarning" [messageContent]="messageContent"></app-alert>

                                        <button (click)="showMessageSuccess()">{{messageContent}}</button>
                                         <button (click)="showMessageDanger()">{{messageContent}}</button>
                                         <button (click)="showMessageWarning()">{{messageContent}}</button> 
                              -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</form>
                </div>




                <div class="alertclass" [class.visible]="isVisibleSuccess"> 
                    <div class="alert alert-success alert-border-left alert-dismissible fade show" role="alert">
                        <i class="ri-check-double-line me-3 align-middle"></i> <strong>Success</strong> - Alert Message Content
                        <button type="button" class="btn-close" aria-label="Close" (click)="this.isVisibleSuccess = false"></button>
                    </div>
                </div>

                <div class="alertclass" [class.visible]="isVisibleDanger"> 
                    <div class="alert alert-danger alert-border-left alert-dismissible fade show" role="alert">
                        <i class="ri-error-warning-line me-3 align-middle"></i> <strong>Danger</strong> - Alert Message Content
                        <button type="button" class="btn-close" aria-label="Close" (click)="this.isVisibleDanger = false"></button>
                    </div>
                </div>

                <div class="alertclass" [class.visible]="isVisibleWarning"> 
                    <div class="alert alert-warning alert-border-left alert-dismissible fade show" role="alert">
                        <i class="ri-alert-line me-3 align-middle"></i> <strong>Warning</strong> - Alert Message Content
                        <button type="button" class="btn-close" aria-label="Close" (click)="this.isVisibleWarning = false"></button>
                    </div>
                </div>

                

        </div>
    </div>
    <!-- <form [formGroup]="outerForm">
        <div formGroupName="innerGroup">
          <input formControlName="nestedControl">
          <div *ngIf="isNestedControlInvalid" class="validation-error">
            This field is required.
          </div>
        </div>
      </form> -->
</div>

