<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <form fxLayout="row wrap">

                <div class="card">
                    <form [formGroup]="uploadForm" fxLayout="row wrap"
                    (ngSubmit)="createTemplate(uploadForm.value)">
    
                    <div class="card-header align-items-center d-flex">
                        <i class="ri-message-2-line cardicon"></i>
                        <h4 class="card-title mb-0 flex-grow-1">Add Message Template Information</h4>
                        <div class="flex-shrink-0">
                            <!-- left side view -->
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-left mb-2">
                                    <i class="ri-arrow-right-circle-fill addnewico"></i> &nbsp; <label
                                        class="form-label mt-2">
                                        <h6 class="heads">Merchant Details</h6>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 text-end">
                               
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div>
                                            <label for="basiInput" class="form-label">Merchant (Organization) Name </label>
                                            <br>
                                            <label for="basiInput" class="form-labels">{{OrganizationNameTemp}} </label>
                                        </div>
                                    </div>
    
                                    <div class="col-md-6">
                                        <div>
                                            <label for="labelInput" class="form-label">Email Id </label>
                                            <br>
                                            <label for="basiInput" class="form-labels">{{EmailIdTemp}} </label>
                                        </div>
                                    </div>
    
                                </div>
    
                                <div class="row mb-0">

                                    <div class="col-md-6">
                                        <div>
                                            <label for="basiInput" class="form-label">Mobile No  </label>
                                            <br>
                                            <label for="basiInput" class="form-labels">{{MobileNoTemp}} </label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div>
                                            <label for="basiInput" class="form-label">Contact Person Name  </label>
                                            <br>
                                            <label for="basiInput" class="form-labels">{{ContactPersonNameTemp}} </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr>

                        <div class="row mb-3">
                
                            <div class="col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Message Type </label>
                                    <select class="form-select" aria-label="Default select example" formControlName ="modeTypeId" >
                                        <option hidden value="" disabled selected>Select Message Type</option>
                                         <option *ngFor="let template of TemplateLists" [value]="template.modeTypeId">
                                            {{ template.messageType }}
                                          </option> 
                                    </select>
                                    <div *ngIf="submitted && f['modeTypeId'].errors" class="invalid-feedback d-block">
                                        <div *ngIf="f['modeTypeId'].errors['required']">Message Type is required</div>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Mode Type </label>
                                    <select class="form-select" aria-label="Default select example"  (change)="onDropdownChange($event)" formControlName="messageTypeId">
                                        <option hidden value="" disabled selected>Select Mode Type</option>
                                        <option *ngFor="let modes of ModeLists" [value]="modes.messageTypeId">
                                            {{ modes.messageType }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f['messageTypeId'].errors" class="invalid-feedback d-block">
                                        <div *ngIf="f['messageTypeId'].errors['required']">Mode Type is required</div>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <button type="button" (click)="openModalCI(cicontent)" class="inf-btn btn btn-success btn-icon waves-effect waves-light" title="Content Information"><i class="ri-information-line"></i></button>
                            </div>
                        </div>

                        <!-- CI Modal -->
                        <ng-template #cicontent role="document" let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title mt-0">Content Information Details</h5>
                                <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <form >
                                        <div class="row">
                                            <div class="col-md-12"> 
                                                
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped align-middle table-nowrap mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <td>[User]</td>
                                                                <td>Some Inforamiton..</td>
                                                            </tr>
                                                            <tr>
                                                                <td>[Merchant Name]</td>
                                                                <td>Some Inforamiton..</td>
                                                            </tr>
                                                            <tr>
                                                                <td>[Friend's Name]</td>
                                                                <td>Some Inforamiton..</td>
                                                            </tr>
                                                            <tr>
                                                                <td>[Referral Link]</td>
                                                                <td>Some Inforamiton..</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>                        
                        </ng-template>
                        <!-- CI Modal -->                       


                        <!-- For SMS -->
                        <div class="row mb-3"  *ngIf="showDiv.current">
                            <div class="col-md-12">
                                <div>
                                    <label for="basiInput" class="form-label">Message Content </label>
                                    <textarea class="form-control" rows="6" formControlName="messageContent" placeholder="Enter Message Content"></textarea>
                               
                                    <div *ngIf="submitted && f['messageContent'].errors" class="invalid-feedback d-block">
                                        <div *ngIf="f['messageContent'].errors['required']">Message Content is required</div>
                                       
                                    </div>
                               
                               
                                </div>
                            </div>
                        </div>

                        <!-- For Email -->
                    <div class="row mb-1" *ngIf="showDiv.next" >
                            <div class="col-md-12">
                                <div>
                                    <label for="basiInput" class="form-label">Email Content </label>
                                    <ckeditor [editor]="Editor" data="" formControlName="messageContent"></ckeditor>
                                </div>
                            </div>
                        </div>
                    </div>
         
                    <div class="card-footer">
                        <div class="row align-items-center gy-3">
                            <div class="col-sm">
                                <div class="d-flex flex-wrap my-n1">
                                    <div>
                                        <i class="ri-information-line text-muted align-bottom me-1"></i>Tip : (<span class="mnd-fld">*</span>) fields are mandatory.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <div class="col-lg-12">
                                    <div class="text-end d-flex align-items-start gap-2 ">
                                        <button type="button" (click)="CancelForm()" class="btn btn-info ms-auto"><i class="ri-close-line label-icon align-middle me-2"></i> Cancel</button>
                                      
                                        <button type="submit" (click)="submit()" class="btn btn-primary"><i class="ri-save-3-fill label-icon align-middle me-2"></i> Submit</button>
                                    
                                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</form>
                </div>
            </form>

        </div>
    </div>
</div>


