
<div class="row project-wrapper">
    <div class="col-xxl-8">

        <!-- <a class="reflink text-uppercase fw-medium text-primary text-truncate mb-0 mt-0"  href="#">Referral Link</a>
      -->

      <div class="">
        <!-- <label class=" reflink text-uppercase fw-medium text-primary text-truncate mb-0 mt-0">
            <h6 class="heads" (click)="openModalQR(qrcontent)"><i class="ri-eye-fill label-icon align-middle me-2"></i>Referral Link</h6>
            
        </label> -->
    </div>
      
        <div class="row">

            <div class="col-xl-3">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-warning-subtle text-warning rounded-2 fs-2">
                                    <i class="ri-price-tag-3-fill"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3" (click)="GetCouponList()">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">Discount Coupons</p>
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="fs-4 flex-grow-1 mb-0"><span>{{DiscountCouponCount}}</span></h4>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div>
            </div>

            <div class="col-xl-3">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-warning-subtle text-warning rounded-2 fs-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award text-warning"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
                                </span>
                            </div>
                            <div class="flex-grow-1 ms-3" (click)="GetRewardList()">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">Reward Points</p>
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="fs-4 flex-grow-1 mb-0"><span>{{RewardPointCount}}</span></h4>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div>
            </div>

            <div class="col-xl-3">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-warning-subtle text-warning rounded-2 fs-2">
                                    <i class="ri-user-shared-fill"></i>
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3" (click)="GetList()">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">Referrals</p>
                                <div class="d-flex align-items-center mb-3" >
                                    <h4 class="fs-4 flex-grow-1 mb-0"><span>{{Count}}</span></h4>
                                </div>
                            </div>
                        </div>
                    </div><!-- end card body -->
                </div>
            </div>

            <div class="col-xl-3">
                <div class="card card-animate">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm flex-shrink-0">
                                <span class="avatar-title bg-warning-subtle text-warning rounded-2 fs-2">
                                    <i class="ri-link"></i> 
                                </span>
                            </div>
                            <div class="flex-grow-1 overflow-hidden ms-3" (click)="GetRefferlLinkList()">
                                <p class="text-uppercase fw-medium text-primary text-truncate mb-3">Referral Link</p>
                                <div class="d-flex align-items-center mb-3" >
                                    <h4 class="fs-4 flex-grow-1 mb-0"><span>{{ReferralCount}}</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- QR Modal as per discusstion -->
                <!-- <ng-template #qrcontent role="document" let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title mt-0">QR Code</h5>
                        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form >
                                <div class="row">
                                    <div class="col-md-12">   
                                        <div [id]="id" *ngFor="let id of array" class="qr-code-container">
                                            <img src="assets/images/Logo_squre.jpg" alt="Logo" class="logo" >
                                            <img  src="{{ qrCode }}" alt="QR Code" class="qr-code">
                                        </div>
                                        </div>
                                    </div>
                                
                                <div class="mt-3 text-center" >
                                    <a type="submit" (click)="trivialDownload()"  class="btn btn-success"><i class="ri-download-line label-icon align-middle me-2"></i> Download QR Code</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-template> -->
            
      
        </div>      
    
           
        </div>


</div>

